<% provide(:title, "New Season") %>
<% provide(:submit_text, "Add Season") %>

<% content_for :show_serie_content do %>
  <h1>New Season</h1>
  <%= render "form" %>
<% end %>

<%= render "series/show" %>
