<div class="row">
  <div class="col-xs-12">
    <%= link_to "View Resume", {:format  => :pdf}, class: "btn btn-default col-xs-12", role: "button" %>
  </div>
  <!--<div class="col-xs-6">
    <%#= link_to "Download Resume", {:format => :pdf, :download => :true}, class: "btn btn-info col-xs-12" %>
  </div>-->
</div>
