<% provide(:title, 'Create director') %>
<h1>New Director</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:submit_text, "Create Director") %>
    <%= render "form" %>
  </div>
</div>
